@import 'treo';

.animate-spin	{
  animation: spin 2s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}


:host {
  .add-user,
  .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .user {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: 320px;
      width: 100%;

      .mat-form-field {
        width: 100%;

        .mat-input-element:disabled {
          color: initial;
        }
      }
    }
  }
}
