<form
  [formGroup]="manageProjectForm"
  [ngxsForm]="formPath">

  <ng-container [ngSwitch]="activeView">
    <ng-template [ngSwitchCase]="ProjectFormView.Create">
      <ng-container *ngTemplateOutlet="formCreate"></ng-container>
    </ng-template>

    <ng-template [ngSwitchCase]="ProjectFormView.Update">
      <ng-container *ngTemplateOutlet="formUpdate"></ng-container>
    </ng-template>
  </ng-container>
</form>


<!-- Create Form -->
<ng-template #formCreate>
  <ng-container *ngIf="{
    isValidatingSlug: isValidatingSlug$ | async
  } as context">
    <div class="flex flex-col mt-8 p-8 pb-5 bg-card rounded shadow overflow-hidden">
      <p class="text-lg font-medium">Basic information</p>
      <p class="text-secondary">Set your login preferences, help us personalize your experience and make big account
        changes here</p>

      <div class="mt-8">
        <ng-container *ngTemplateOutlet="section1; context: context"></ng-container>
      </div>
    </div>

    <div class="flex items-center justify-end mt-10">
      <button mat-button type="button" (click)="handleCancel()">
        Cancel
      </button>

      <button class="px-6 ml-3" color="primary" type="button" mat-flat-button
        [disabled]="isLoading || manageProjectForm.pristine || manageProjectForm.invalid || context.isValidatingSlug"
        (click)="handleSubmit()">
        <mat-icon *ngIf="isLoading" class="icon-size-18 animate-spin mr-3" svgIcon="dripicons:loading">
        </mat-icon>
        Create
      </button>
    </div>
  </ng-container>
</ng-template>


<!-- Update Form -->
<ng-template #formUpdate>
  <ng-container *ngIf="{
    isValidatingSlug: isValidatingSlug$ | async
  } as context">
    <div class="flex flex-col mt-8 p-8 pb-5 bg-card rounded shadow overflow-hidden">
      <p class="text-lg font-medium">Basic information</p>
      <p class="text-secondary">Set your login preferences, help us personalize your experience and make big account changes here</p>

      <div class="mt-8">
        <ng-container *ngTemplateOutlet="section1; context: context"></ng-container>
      </div>
    </div>

    <div class="flex flex-col mt-8 p-8 pb-10 bg-card shadow rounded overflow-hidden">
      <p class="text-lg font-medium">People</p>
      <p class="text-secondary">People here will get to know you with this information</p>

      <div class="mt-8">
        <ng-container *ngTemplateOutlet="section2"></ng-container>
      </div>
    </div>

    <div class="flex items-center justify-end mt-10">
      <button
        mat-button
        type="button"
        (click)="handleCancel()">
        Cancel
      </button>

      <button
        class="px-6 ml-3"
        color="primary"
        type="button"
        mat-flat-button
        [disabled]="isLoading || manageProjectForm.pristine || manageProjectForm.invalid || context.isValidatingSlug"
        (click)="handleSubmit()">
        <mat-icon 
          *ngIf="isLoading"
          class="icon-size-18 animate-spin mr-3"
          svgIcon="dripicons:loading">
        </mat-icon>
        Update
      </button>
    </div>
  </ng-container>
</ng-template>


<!-- Section 1 -->
<ng-template #section1 let-isValidatingSlug="isValidatingSlug">
  <ng-container [formGroup]="manageProjectForm">
    <div formGroupName="section1">
      <div class="flex flex-col gt-xs:flex-row">
        <!-- Title -->
        <mat-form-field class="flex-auto gt-xs:pr-3">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput required>
          <mat-icon matPrefix svgIcon="title"></mat-icon>
        </mat-form-field>
        
        <!-- Slug -->
        <mat-form-field class="flex-auto relative gt-xs:pl-3">
          <mat-label>Slug</mat-label>
          <input formControlName="slug" (keyup)="formatValueSlug()" matInput required>
          <mat-icon matPrefix svgIcon="language"></mat-icon>

          <ng-container *ngIf="controlSlug.dirty && isValidatingSlug">
            <mat-icon svgIcon="dripicons:loading" class="text-primary animate-spin icon-size-20"></mat-icon>
          </ng-container>
          <ng-container *ngIf="controlSlug.dirty && controlSlug.invalid && !isValidatingSlug">
            <mat-icon svgIcon="dripicons:wrong" matTooltip="This slug already exists." class="text-red-600 icon-size-20"></mat-icon>
          </ng-container>
          <ng-container *ngIf="controlSlug.dirty && controlSlug.valid && !isValidatingSlug">
            <mat-icon svgIcon="dripicons:checkmark" class="text-green-600 icon-size-20"></mat-icon>
          </ng-container>

          <mat-hint *ngIf="!controlSlug.errors?.duplicateSlug">
            Slugs must be unique.
          </mat-hint>
          <mat-hint *ngIf="controlSlug.errors?.duplicateSlug" class="text-red-600">
            This slug already exists.
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="flex flex-col gt-xs:flex-row">
        <!-- BrandId -->
        <div class="gt-xs:w-1/2 gt-xs:pr-3">
          <brand-selector 
            label="Brand"
            [required]="true"
            [active]="controlBrandId.value"
            (activeChange)="controlBrandId.setValue( $event )">
            
            <ng-template let-brandId>
              <brand-detail [id]="brandId">
                <ng-template let-brand>
                  <div class="flex items-center active-brand text-black">
                    <div class="flex items-start w-14 mr-4">
                      <img class="h-8 object-contain" [src]="brand.logoUrl" [alt]="brand.name">
                    </div>
                    {{ brand.name }}
                  </div>
                </ng-template>
              </brand-detail>
            </ng-template>
          </brand-selector>
        </div>

        <!-- Date -->
        <mat-form-field class="gt-xs:w-1/2 gt-xs:pl-3">
          <mat-label>Date</mat-label>
          <input 
            matInput
            formControlName="date"
            #projectDateInput
            (focus)="projectDatePicker.open()"
            [matDatepicker]="projectDatePicker">
          <mat-icon matPrefix svgIcon="event"></mat-icon>
          <mat-datepicker 
            (closed)="projectDateInput.blur()"
            #projectDatePicker>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
</ng-template>


<!-- Section 2 -->
<ng-template #section2>
  <ng-container [formGroup]="manageProjectForm">
    <div formGroupName="section2" class="section-users">

      <div class="flex flex-col flex-wrap gt-xs:flex-row">
        <!-- Invitations -->
        <div class="flex-auto">
          <ng-container *ngIf="invitations$ | async as invitations">
            <div formGroupName="invitation" class="add-user mb-2">
              <div class="user">
                <mat-form-field>
                  <mat-label>Invitations</mat-label>
                  <input matInput formControlName="email" placeholder="Email">
                  <button mat-icon-button matSuffix [disabled]="!controlInvitation.dirty" (click)="handleSubmitInvitation()" type="button">
                    <mat-icon [svgIcon]="isLoadingInvitation ? 'dripicons:loading' : 'add'" [class.animate-spin]="isLoadingInvitation"></mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          
            <div class="w-80">
              <ng-container *ngIf="invitations.length; else emptyInvitations">
                <div class="rounded-md border-solid border border-gray-300 divide-y divide-gray-300 shadow-md">
                  <div *ngFor="let invitation of invitations" class="pl-4 pr-2 py-2 flex items-center">
                    <mat-icon svgIcon="mail" class="mr-3"></mat-icon>
                    <span class="truncate">{{ invitation.email }}</span>
                    <button mat-icon-button (click)="handleRemoveInvitation( invitation.id )" type="button" class="ml-auto">
                      <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>

              <ng-template #emptyInvitations>
                There aren&#39;t any pending invitations.
              </ng-template>
            </div>
          </ng-container>
        </div>
        
        <!-- Memberships -->
        <div class="flex-auto">
          <ng-container *ngIf="members$ | async as memberships">
            <div formGroupName="member" class="add-user mb-2">
              <div class="user">
                <mat-form-field>
                  <mat-label>Members</mat-label>

                  <input 
                    type="text" 
                    placeholder="Search by name, email" 
                    matInput
                    formControlName="query"
                    [matAutocomplete]="auto">
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displayWithMember">
                    <mat-option *ngFor="let member of memberSuggestions" [value]="member">
                      <div class="flex">
                        <user-avatar [user]="member.user" class="mr-3"></user-avatar>
                        <span class="truncate">{{ member.user.firstname }} {{ member.user.lastname }}</span>
                      </div>
                    </mat-option>
                  </mat-autocomplete>
                  
                  <button mat-icon-button matSuffix [disabled]="!controlMember.dirty" (click)="handleSubmitMember()" type="button">
                    <mat-icon [svgIcon]="isLoadingMember ? 'dripicons:loading' : 'add'" [class.animate-spin]="isLoadingMember"></mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            
            <ng-container *ngIf="memberships.length; else emptyMemberships">
              <div class="rounded-md border-solid border border-gray-300 divide-y divide-gray-300 shadow-md w-80">
                <div *ngFor="let member of memberships" class="pl-4 pr-2 py-2 flex items-center">
                  <user-avatar [user]="member.user" class="mr-3"></user-avatar>
                  <span class="truncate">{{ member.user.firstname }} {{ member.user.lastname }}</span>
                  <button mat-icon-button (click)="handleRemoveMember( member.id )" type="button" class="ml-auto">
                    <mat-icon svgIcon="delete"></mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>

            <ng-template #emptyMemberships>
              There aren&#39;t any memberships.
            </ng-template>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-container>
</ng-template>


<!-- Save Changes Modal -->
<ng-template #dialogSaveChanges>
  <h2 mat-dialog-title>Discard Changes?</h2>

  <mat-dialog-content class="mat-typography">
    <p>Your changes have not been saved. Are sure you want to leave?</p>
    <button mat-button [mat-dialog-close]="true" class="mr-1">Yes</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial color="primary">No</button>
  </mat-dialog-content>
</ng-template>
