@import 'treo';

.animate-spin	{
  animation: spin 2s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

:host {
  .section-users {
    @include treo-breakpoint('gt-xs') {
      ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
        margin-bottom: 0;
      }
    }
  }
}



