<div class="rich-text">
  <h2>User Interface</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque orci lacus, suscipit a congue suscipit, hendrerit nec neque. In non laoreet ex, non lobortis quam.</p>
</div>

<form class="mt-8" [formGroup]="manageSettingsForm" ngxsForm="settings.manageSettingsForm" (ngSubmit)="handleSubmit()">
  <div class="flex flex-col mt-8 gt-xs:flex-row gt-xs:items-start">
    <div class="gt-xs:max-w-64 gt-xs:pr-12">
      <p class="text-lg font-medium">Theme</p>
      <p class="text-secondary mb-6">Proin tristique tortor sodales tincidunt volutpat. Etiam placerat ipsum a efficitur lobortis.</p>
    </div>

    <div class="flex flex-col flex-auto p-8 bg-card shadow rounded overflow-hidden">
      <div class="flex flex-col">
        <span class="font-semibold mb-2">User Theme</span>

        <mat-radio-group class="flex flex-col" color="primary" formControlName="themeAppearance">
          <mat-radio-button class="mb-2" value="auto">
            Auto
            <mat-icon 
              class="ml-2 icon-size-18"
              svgIcon="heroicons_solid:question-mark-circle"
              matTooltip="Automatically sets the theme based on user's operating system's color scheme preference using 'prefer-color-scheme' media query.">
            </mat-icon>
          </mat-radio-button>
          <mat-radio-button class="mb-2" value="dark">
            Dark
          </mat-radio-button>
          <mat-radio-button value="light">
            Light
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-end mt-10">
    <button mat-button>
      Cancel
    </button>
    <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
      Save
    </button>
  </div>
</form>
