<asset-explorer #explorerMain>
  <ng-template 
    let-activeDirectory="activeDirectory"
    let-directories="directories"
    let-elements="elements">
    
    <ng-container
      [ngTemplateOutlet]="toolbar"
      [ngTemplateOutletContext]="{ $implicit: activeDirectory, context: explorerMain }">
    </ng-container>

    <ng-container
      [ngTemplateOutlet]="lists"
      [ngTemplateOutletContext]="{ directories: directories, elements: elements, context: explorerMain }">
    </ng-container>
  </ng-template>
</asset-explorer>


<!-- Toolbar -->
<ng-template #toolbar let-activeDirectory let-context="context">
  <mat-toolbar class="h-12 pl-1 sticky top-0 relative z-20">
    <ng-container *ngIf="activeDirectory; else titleRoot">
      <button
        class="mr-1"
        mat-icon-button 
        (click)="context.handleNavigateDirectory( activeDirectory.parentId )">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="text-base">{{ activeDirectory.name }}</span>
    </ng-container>

    <ng-template #titleRoot>
      <span class="ml-3 text-base">Home</span>
    </ng-template>

    <span class="flex-1"></span>

    <button 
      mat-icon-button
      [matMenuTriggerFor]="menuDirectory"
      [matMenuTriggerData]="{ $implicit: activeDirectory }">
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
  </mat-toolbar>
</ng-template>


<!-- Layout of Lists -->
<ng-template #lists let-directories="directories" let-elements="elements" let-context="context">
  <mat-list>
    <ng-container 
      *ngIf="directories.length > 0"
      [ngTemplateOutlet]="listDirectories"
      [ngTemplateOutletContext]="{ $implicit: directories, context: context }">
    </ng-container>

    <ng-container *ngIf="directories.length > 0 && elements.length > 0">
      <mat-divider class="my-3 light:border-cool-gray-300"></mat-divider>
    </ng-container>

    <ng-container 
      *ngIf="elements.length > 0"
      [ngTemplateOutlet]="listElements"
      [ngTemplateOutletContext]="{ $implicit: elements }">
    </ng-container>

    <ng-container *ngIf="directories.length == 0 && elements.length == 0">
      <div class="mt-10 text-center">
        <mat-icon class="icon-size-72" svgIcon="iconsmind:folder"></mat-icon>
        <p class="mt-2 text-lg text-secondary">This folder is empty</p>
      </div>

      <div class="mt-6 text-center">
        <button
          mat-flat-button
          color="primary">
          <mat-icon svgIcon="cloud_upload" class="mr-2"></mat-icon>
          Upload Contents
        </button>
      </div>
    </ng-container>
  </mat-list>
</ng-template>


<!-- List: Directories -->
<ng-template #listDirectories let-directories let-context="context">
  <div mat-subheader>Folders</div>

  <mat-list-item *ngFor="let directory of directories" class="h-12">
    <button 
      class="flex w-full justify-start"
      mat-button
      (click)="context.handleNavigateDirectory( directory.id )">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{ directory.name }}</div>
    </button>
  </mat-list-item>
</ng-template>


<!-- List: Elements -->
<ng-template #listElements let-elements>
  <div mat-subheader>Files</div>

  <mat-list-item *ngFor="let element of elements" class="h-14 mb-1">
    <ng-container [ngSwitch]="element.format">
      <ng-template [ngSwitchCase]="Format.Photo">
        <img
          class="cursor-pointer w-14 h-14 object-cover rounded-none"
          matListAvatar
          [src]="element.url"
          [title]="element.name"
          (click)="handlePreviewElement( element, elements )">
        <div 
          mat-line
          class="ml-4"
          [ngClass]="{ 'italic': !element.name, 'text-secondary': !element.name }">
          {{ element.name }}
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="Format.Video">
        <mat-icon 
          mat-list-icon 
          svgIcon="iconsmind:film_video">
        </mat-icon>
        <div mat-line class="ml-4">{{ element.name }}</div>
      </ng-template>

      <button 
        class="ml-auto"
        mat-icon-button
        [matMenuTriggerFor]="menuElement"
        [matMenuTriggerData]="{ $implicit: element, elements: elements }">
        <mat-icon svgIcon="more_vert"></mat-icon>
      </button>
    </ng-container>
  </mat-list-item>
</ng-template>


<!-- Menu: Directory -->
<mat-menu #menuDirectory="matMenu">
  <ng-template matMenuContent let-directory>
    <button mat-menu-item (click)="handleCreateDirectory( directory )">
      <span class="flex items-center">
        <mat-icon svgIcon="create_new_folder" class="icon-size-20 mr-3"></mat-icon>
        <span>New folder</span>
      </span>
    </button>
    <button mat-menu-item>
      <span class="flex items-center">
        <mat-icon svgIcon="cloud_upload" class="icon-size-20 mr-3"></mat-icon>
        <span>Upload contents</span>
      </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [disabled]="!directory" (click)="handleMoveDirectory( directory )">
      <span class="flex items-center">
        <mat-icon svgIcon="forward" class="icon-size-20 mr-3"></mat-icon>
        <span>Move to</span>
      </span>
    </button>
    <button mat-menu-item [disabled]="!directory" (click)="handleRenameDirectory( directory )">
      <span class="flex items-center">
        <mat-icon svgIcon="edit" class="icon-size-20 mr-3"></mat-icon>
        <span>Rename</span>
      </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [disabled]="!directory" (click)="handleRemoveDirectory( directory )">
      <span class="flex items-center">
        <mat-icon svgIcon="delete" class="icon-size-20 mr-3"></mat-icon>
        <span>Delete</span>
      </span>
    </button>
  </ng-template>
</mat-menu>


<!-- Menu: Element -->
<mat-menu #menuElement="matMenu">
  <ng-template matMenuContent let-element let-elements="elements">
    <button mat-menu-item (click)="handlePreviewElement( element, elements )">
      <span class="flex items-center">
        <mat-icon svgIcon="remove_red_eye" class="icon-size-20 mr-3"></mat-icon>
        <span>Preview</span>
      </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="handleMoveElement( element )">
      <span class="flex items-center">
        <mat-icon svgIcon="forward" class="icon-size-20 mr-3"></mat-icon>
        <span>Move to</span>
      </span>
    </button>
    <button mat-menu-item (click)="handleRenameElement( element )">
      <span class="flex items-center">
        <mat-icon svgIcon="edit" class="icon-size-20 mr-3"></mat-icon>
        <span>Rename</span>
      </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="handleRemoveElement( element )">
      <span class="flex items-center">
        <mat-icon svgIcon="delete" class="icon-size-20 mr-3"></mat-icon>
        <span>Delete</span>
      </span>
    </button>
  </ng-template>
</mat-menu>


<!-- Rename Modal -->
<ng-template #dialogRename let-data>
  <h2 mat-dialog-title>Rename</h2>

  <mat-dialog-content>
    <mat-form-field class="w-full">
      <input 
        required
        matInput
        cdkFocusInitial
        #name="ngModel"
        [(ngModel)]="data.name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-4 justify-end">
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button [disabled]="name.invalid" [mat-dialog-close]="data.name" color="primary">Ok</button>
  </mat-dialog-actions>
</ng-template>


<!-- Create Directory Modal -->
<ng-template #dialogCreateDirectory let-data>
  <h2 mat-dialog-title>New Folder</h2>

  <mat-dialog-content>
    <mat-form-field class="w-full">
      <input 
        required
        matInput
        cdkFocusInitial
        #name="ngModel"
        [(ngModel)]="data.name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-4 justify-end">
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button [disabled]="name.invalid" [mat-dialog-close]="data.name" color="primary">Create</button>
  </mat-dialog-actions>
</ng-template>


<!-- Delete Modal -->
<ng-template #dialogDeleteAsset let-data>
  <h2 mat-dialog-title>Delete</h2>

  <mat-dialog-content>
    <p>Are you sure you want to delete this {{ data.resource }}? This cannot be undone.</p>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-4 justify-end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>No</button>
    <button mat-button [mat-dialog-close]="true">Yes, delete it</button>
  </mat-dialog-actions>
</ng-template>


<!-- Move Asset Modal -->
<ng-template #dialogMoveAsset let-data>
  <h2 mat-dialog-title>Move To</h2>

  <mat-dialog-content>
    <asset-explorer 
      #explorerRelocate
      [directoryId]="data.original">

      <ng-template 
        let-activeDirectory="activeDirectory"
        let-directories="directories"
        let-elements="elements">
        
        <mat-toolbar class="h-12 sticky top-0 relative z-20 light:bg-cool-gray-100">
          <ng-container *ngIf="activeDirectory; else titleRoot">
            <button
              class="mr-1"
              mat-icon-button 
              (click)="data.id = activeDirectory.parentId"
              (click)="explorerRelocate.handleNavigateDirectory( activeDirectory.parentId )">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="text-base">{{ activeDirectory.name }}</span>
          </ng-container>

          <ng-template #titleRoot>
            <span class="ml-3 text-base">Home</span>
          </ng-template>
        </mat-toolbar>

        <mat-list>
          <ng-container *ngIf="directories.length > 0">
            <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let directory of directories" class="h-12">
              <button 
                class="flex w-full justify-start"
                mat-button
                [class.bg-primary-100]="data.id == directory.id"
                [color]="data.id == directory.id ? 'primary' : null"
                (click)="data.id = directory.id"
                (click)="explorerRelocate.handleNavigateDirectory( directory.id )">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{ directory.name }}</div>
              </button>
            </mat-list-item>
          </ng-container>

          <ng-container *ngIf="directories.length > 0 && elements.length > 0">
            <mat-divider class="my-3 light:border-cool-gray-300"></mat-divider>
          </ng-container>

          <ng-container *ngIf="elements.length > 0">
            <div mat-subheader>Files</div>
            <mat-list-item *ngFor="let element of elements" class="pl-4 h-8">
              <ng-container [ngSwitch]="element.format">
                <ng-template [ngSwitchCase]="Format.Photo">
                  <mat-icon mat-list-icon>photo</mat-icon>
                  <div mat-line class="ml-2">{{ element.name }}</div>
                </ng-template>
                <ng-template [ngSwitchCase]="Format.Video">
                  <mat-icon mat-list-icon>ondemand_video</mat-icon>
                  <div mat-line class="ml-2">{{ element.name }}</div>
                </ng-template>
              </ng-container>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </ng-template>
    </asset-explorer>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-4 justify-end">
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button [disabled]="data.id == data.original" [mat-dialog-close]="data.id" color="primary" cdkFocusInitial>Move Here</button>
  </mat-dialog-actions>
</ng-template>
