@import 'common';

:host {
  @extend %entity-list-layout-vertical;

  .mat-drawer-container {
    .mat-drawer {
      width:     512px !important;
      min-width: 512px !important;
      max-width: 512px !important;

      @include treo-breakpoint('xs') {
        width:     100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  :host {
    .background {
      path {
        @if ($is-dark) {
          fill: treo-color('cool-gray', 800);
        } @else {
          fill: treo-color('blue', 300);
        }
      }
    }

    .mat-drawer-container {
      .mat-drawer-content {
        .main {
          .header {
            .subtitle {
              color: map-get($foreground, secondary-text);
            }
          }

          .entity-list {
          }
        }
      }

      .mat-drawer {
        @if ($is-dark) {
          background: map-get($background, background);
        }
      }
    }
  }
}
