:host {
  display: inline-flex;
  align-items:     center;
  justify-content: center;
}

.fade-in {
  animation:         fadeIn ease .75s;
  -webkit-animation: fadeIn ease .75s;
  -moz-animation:    fadeIn ease .75s;
  -o-animation:      fadeIn ease .75s;
  -ms-animation:     fadeIn ease .75s;
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
