@import "./common/button-toggle";
@import "./common/entity-detail";
@import "./common/entity-list";

::ng-deep {
  .animate-spin {
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
