@import 'treo';

// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------
.treo-theme-light {
  .mat-primary {
    .mat-option.mat-selected:not(.mat-option-disabled) {
      .mat-icon {
        color: inherit;
      }
    }
  }
}

.animate-spin {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}


// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  .mat-simple-snackbar-action {
    color: map-get($primary, default);
  }

  .font-selector-option {
    @if ($is-dark) {
      filter: invert(1);
    }
  }
}

