<div class="content-layout" [ngClass]="'left-sidebar-content-standard-content-scroll'">

  <div class="header">
    <div class="left">
      <lib-breadcrumbs></lib-breadcrumbs>
      <h1>Content left sidebar standard</h1>
    </div>

    <div class="right">
      <button 
        class="mr-4" 
        mat-stroked-button 
        (click)="matDrawer.toggle()">
          <mat-icon class="icon-size-18" [svgIcon]="'menu'"></mat-icon>
          <span class="ml-2 md:hidden xs:hidden">Menu</span>
      </button>
    </div>
  </div>

  <mat-drawer-container>

    <mat-drawer 
      [autoFocus]="false"
      [mode]="drawerMode"
      [opened]="drawerOpened" 
      #matDrawer>
        <settings-sidebar></settings-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>
