<div class="flex flex-col gt-xs:flex-row">
  <mat-form-field class="flex-auto w-full">
    <mat-label>{{ label }}</mat-label>

    <mat-select 
      matPrefix
      panelClass="font-selector-panel"
      [fieldBinding]="fieldBindingId"
      [value]="selectedFont?.id || ''"
      (selectionChange)="handleSelection( $event.value )">

      <mat-select-trigger>
        <ng-container *ngIf="selectedFont; else noFont">
          <img src="/{{ selectedFont.thumbnail }}" [alt]="selectedFont.family" class="h-4 font-selector-option" />
        </ng-container>

        <ng-template #noFont>
          Default font
        </ng-template>
      </mat-select-trigger>

      <mat-option [value]="''">
        Default font
      </mat-option>
      
        <mat-option *ngFor="let font of fonts" [value]="font.id">
          <div class="flex items-center">
            <img src="/{{ font.thumbnail }}" [alt]="font.family" class="h-4 w-auto font-selector-option" />
          </div>
        </mat-option>

    </mat-select>
  </mat-form-field>
</div>
