<form [ngClass]="{'edit-mode': editMode}"
      [formGroup]="manageBrandForm" 
      ngxsForm="brand.manageBrandForm">
  
  <!-- Actions -->
  <div class="actions">
    <ng-container
      *ngTemplateOutlet="actions; context: { $implicit: brand }">
    </ng-container>
  </div>

  <!-- Avatar and Name -->
  <div class="avatar-and-name">
    <ng-container
      *ngTemplateOutlet="logo; context: { $implicit: brand }">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="name; context: { $implicit: brand, form: manageBrandForm }">
    </ng-container>
  </div>

  <!-- Website -->
  <div class="address" 
        *ngIf="brand.website || editMode">

    <ng-container
      *ngTemplateOutlet="website; context: { $implicit: brand, form: manageBrandForm }">
    </ng-container>
  </div>

  <!-- Networks -->
  <div class="phone-numbers"
        *ngIf="brand.networks?.length || editMode"
        [ngClass]="{'editing': editMode}"
        [formArrayName]="'networks'">

    <ng-container
      *ngTemplateOutlet="networks; context: { $implicit: brand, form: manageBrandForm }">
    </ng-container>
  </div>
  
  <!-- Emails -->
  <div class="emails" 
       *ngIf="brand.emails?.length || editMode">

    <ng-container
      *ngTemplateOutlet="emails; context: { $implicit: brand, form: manageBrandForm }">
    </ng-container>
  </div>

</form>




<!-- Actions: Show -->
<ng-template #actions let-brand>
  <!-- Edit button -->
  <button 
    mat-icon-button *ngIf="!editMode" 
    [matMenuTriggerFor]="actionsMenu">

    <mat-icon [svgIcon]="'more_vert'"></mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <button 
      mat-menu-item 
      *ngIf="!editMode"
      [routerLink]="[ '/brands', brand.id, 'edit' ]">

      <mat-icon [svgIcon]="'edit'"></mat-icon>
      <span>Edit brand</span>
    </button>
  </mat-menu>

  <!-- Cancel button -->
  <button
    class="cancel-button"
    mat-icon-button
    *ngIf="editMode"
    [matTooltip]="'Cancel'"
    [routerLink]="brand.id ? [ '/brands', brand.id ] : [ '/brands' ]">

    <mat-icon [svgIcon]="'cancel'"></mat-icon>
  </button>
  
  <!-- Save button -->
  <button 
    mat-icon-button 
    *ngIf="editMode"
    [disabled]="manageBrandForm.invalid"
    [matTooltip]="'Save'"
    (click)="updateBrand()">

    <mat-icon [svgIcon]="'save'"></mat-icon>
  </button>

  <!-- Delete button -->
  <button 
    mat-icon-button
    *ngIf="brand.id && editMode"
    [matTooltip]="'Delete'"
    (click)="deleteBrand()">

    <mat-icon [svgIcon]="'delete'"></mat-icon>
  </button>

  <!-- Close button -->
  <button 
    mat-icon-button 
    *ngIf="!editMode"
    [matTooltip]="'Close'"
    [routerLink]="['../']">

    <mat-icon [svgIcon]="'close'"></mat-icon>
  </button>
</ng-template>


<!-- Logo -->
<ng-template #logo let-brand>
  <div class="avatar" 
       *ngIf="brand.id">

    <div class="upload" *ngIf="editMode">
      <input 
        #avatarFileInput
        id="avatar-file-input"
        type="file"
        [multiple]="false"
        [accept]="'image/jpeg, image/png'"
        (change)="uploadAvatar( avatarFileInput.files )">

      <label for="avatar-file-input" matRipple>
        <mat-icon [svgIcon]="'photo_camera'"></mat-icon>
      </label>
    </div>

    <div class="remove" *ngIf="editMode">
      <button mat-icon-button (click)="removeAvatar()">
        <mat-icon [svgIcon]="'delete'"></mat-icon>
      </button>
    </div>

    <img *ngIf="brand.logoUrl" [src]="brand.logoUrl" #avatar>

    <div class="no-avatar" *ngIf="!brand.logoUrl">
      <mat-icon svgIcon="heroicons_outline:speakerphone"></mat-icon>
    </div>
  </div>
</ng-template>


<!-- Name -->
<ng-template #name let-brand let-form="form">
  <!-- View -->
  <div class="view" *ngIf="brand.name && !editMode">
    <div class="name">{{ brand.name }}</div>
  </div>

  <!-- Edit -->
  <div class="edit" 
       *ngIf="editMode"
       [class.mt-12]="!brand.id"
       [formGroup]="form">

    <mat-form-field class="name edit treo-mat-no-subscript">
      <input 
        matInput 
        formControlName="name" 
        [placeholder]="'Name'" 
        [spellcheck]="false">
    </mat-form-field>
  </div>
</ng-template>


<!-- Website -->
<ng-template #website let-brand let-form="form">
  <mat-icon class="icon" [svgIcon]="'desktop_mac'"></mat-icon>
    
  <div class="view" *ngIf="!editMode">
    <a [href]="brand.website" class="link" target="_blank">
      {{ brand.website }}
    </a>
  </div>

  <div class="edit" 
       *ngIf="editMode" 
       [formGroup]="form">

    <mat-form-field class="treo-mat-no-subscript">
      <input
        matInput
        [formControlName]="'website'"
        [placeholder]="'Website'"
        [spellcheck]="false">
    </mat-form-field>
  </div>
</ng-template>


<!-- Networks -->
<ng-template #networks let-brand let-form="form">
  <mat-icon class="icon" [svgIcon]="'chat'"></mat-icon>

  <!-- View -->
  <div class="view"
        *ngIf="!editMode">

    <div class="phone-number"
          *ngFor="let network of brand.networks; let i = index; trackBy: trackByFn">

      <div class="flag flex items-center">
        <mat-icon svgIcon="brand_{{ network.network }}"
                  class="icon-size-18 mr-2"
                  [matTooltip]="network.network">
        </mat-icon>

        <a [href]="network.url" class="link" target="_blank">
          {{ network.label || network.url }}
        </a>
      </div>
    </div>
  </div>

  <!-- Edit -->
  <div class="edit"
       *ngIf="editMode"
       [formGroup]="form">

    <div class="phone-number"
          *ngFor="let network of manageBrandForm.get('networks')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">

      <mat-form-field class="treo-mat-no-subscript">
        <input matInput
                [formControl]="network.get('url')"
                [placeholder]="'Url'">
        <mat-select [panelClass]="'contacts-details-country-code-selector-panel'"
                    [formControl]="network.get('network')"
                    matPrefix>
          <mat-select-trigger>
            <span class="flag">
              <mat-icon [svgIcon]="'brand_' + network.get('network').value"
                        class="icon-size-18">
              </mat-icon>
            </span>
          </mat-select-trigger>

          <ng-container *ngFor="let option of optionsNetworks">
            <mat-option [value]="option.value">
              <span class="flag">
                <mat-icon [svgIcon]="'brand_' + option.value"
                          class="icon-size-18">
                </mat-icon>
                {{ option.label }}
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="treo-mat-no-subscript">
        <input matInput
                [formControl]="network.get('label')"
                [placeholder]="'Label'">
      </mat-form-field>

      <div class="actions">
        <button class="remove-phone-number-field"
                *ngIf="!(first && last)"
                mat-icon-button
                (click)="removeNetworkField(i)"
                matTooltip="Remove">
          <mat-icon [svgIcon]="'cancel'"></mat-icon>
        </button>

        <button class="add-phone-number-field"
                *ngIf="last"
                mat-icon-button
                (click)="addNetworkField()"
                matTooltip="Add">
          <mat-icon [svgIcon]="'add_circle'"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>


<!-- Emails -->
<ng-template #emails let-brand let-form="form">
  <mat-icon class="icon" [svgIcon]="'email'"></mat-icon>
    
  <!-- View -->
  <div class="view" *ngIf="!editMode">
    <div class="email" *ngFor="let email of brand.emails; let i = index; trackBy: trackByFn">
      <div class="address">
        <a class="link" [href]="'mailto:' + email.email">
          {{ email.email }}
        </a>
      </div>

      <div class="label" *ngIf="email.label">
        <span class="separator">&bull;</span>
        <span>{{ email.label }}</span>
      </div>
    </div>
  </div>

  <!-- Edit -->
  <div class="edit" 
       *ngIf="editMode" 
       [formGroup]="form">

    <div class="email" *ngFor="let email of manageBrandForm.get('emails')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">

      <mat-form-field class="treo-mat-no-subscript">
        <input matInput [formControl]="email.get('email')" [placeholder]="'Email address'" [spellcheck]="false">
      </mat-form-field>

      <mat-form-field class="treo-mat-no-subscript">
        <input matInput [formControl]="email.get('label')" [placeholder]="'Label'">
      </mat-form-field>

      <div class="actions">
        <button class="remove-email-field" *ngIf="!(first && last)" mat-icon-button (click)="removeEmailField(i)"
          matTooltip="Remove">
          <mat-icon [svgIcon]="'cancel'"></mat-icon>
        </button>

        <button class="add-email-field" *ngIf="last" mat-icon-button (click)="addEmailField()" matTooltip="Add">
          <mat-icon [svgIcon]="'add_circle'"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
