@import 'common';

:host {
  .mat-drawer-container {
    .mat-drawer-content {
      flex-direction: row;
      
      .navigator-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
      
        .header {
          padding: 0;
          background: none;
          border: none;

          ::ng-deep editor-navigator {
            width: 100%;
          }

          ::ng-deep .mat-badge-after .mat-badge-content {
            top:   0;
            right: -4px;
          }
        }

        .main {
          flex: 1;
          overflow: scroll;
        }
      }

      .inspector-hitbox {
        display: flex;
        align-items: center;
        padding-top: 13px;
        width:  40px;
        height: 100%;
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        border-left-width: 1px;
        border-left-style: solid;
      }
    }
    
    .mat-drawer {
      width:     450px !important;
      min-width: 450px !important;
      max-width: 450px !important;

      @include treo-breakpoint('lt-lg') {
        width:     512px !important;
        min-width: 512px !important;
        max-width: 512px !important;
      }

      @include treo-breakpoint('xs') {
        width:     100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
      }

      .actions {
        .mat-icon-button {
          width:      32px !important;
          height:     32px !important;
          min-height: 32px !important;
          max-height: 32px !important;
          font-size:  32px !important;

          .mat-icon {
            width:       20px !important;
            height:      20px !important;
            min-width:   20px !important;
            min-height:  20px !important;
            font-size:   20px !important;
            line-height: 20px !important;
          }
        }
      }
    }

    ::ng-deep .tab-indicator {
       -webkit-transition: all .25s linear;
        -o-transition:     all .25s linear;
        transition:        all .25s linear;
    }

    ::ng-deep .mat-drawer-inner-container {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      editor-inspector {
        flex: 1;
      }
    }
  }

  .inspector-button-toggle {
    @extend %button-toggle-group;
  }
}



@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  :host {
    .mat-drawer-container {
      .mat-drawer-content {
        .navigator-wrapper .main {
          @if ($is-dark == false) {
            background-color: #fff;
          }
        }
        
        .inspector-hitbox {
          @if ($is-dark) {
            border-left-color: map-get($foreground, divider);
          } @else {
            border-bottom-color: darken(map-get($foreground, divider), 5%);
            background-color: darken(treo-color('cool-gray', 100), 2%);
          }
        }
      }

      .mat-drawer {
        @if ($is-dark) {
          border-left-color: map-get($foreground, divider);
        } @else {
          border-left-color: darken(map-get($foreground, divider), 5%);
          background-color: treo-color('cool-gray', 200);
        }

        ::ng-deep .mat-drawer-inner-container {
          .actions {
            @if ($is-dark) {
              background-color: treo-color('cool-gray', 900);
            } @else {
              background-color: treo-color('cool-gray', 200);
            }
          }
        }
      }
    }

    .inspector-button-toggle {
      .mat-button-toggle {
        color: map-get($foreground, secondary-text);
        background: transparent;

        &.mat-button-toggle-checked {
          color: map-get($primary, default);
          // box-shadow: inset 0 -2px 0 map-get($primary, default);
        }
      }
    }

    ::ng-deep .editor-navigation,
    ::ng-deep .editor-history {
      @if ($is-dark) {
        background-color: rgb(33, 40, 53);
      } @else {
        background-color: rgb(213, 219, 228);
      }
    }
    ::ng-deep .editor-navigation {
      @if ($is-dark == false) {
        border-bottom: 1px solid rgb(207, 216, 227);
      }
    }
    ::ng-deep .editor-history {
      @if ($is-dark == false) {
        border-top: 1px solid rgb(198, 204, 215);
      }
    }
  }
}
