<div class="content-layout" [ngClass]="'right-sidebar-fullheight-standard-' + scrollMode + '-scroll'">
  <mat-drawer-container>

    <mat-drawer 
      #matDrawer
      position="end"
      [mode]="drawerMode"
      [opened]="drawerOpened"
      [disableClose]="false">

      <ng-container [ngTemplateOutlet]="drawer"></ng-container>
    </mat-drawer>

    <mat-drawer-content>
      <div class="navigator-wrapper">
        <div class="header">
          <editor-navigator>
            <!-- Save button -->
            <ng-container *ngIf="isLoading; else btnSaveProject">
              <mat-icon svgIcon="dripicons:loading" class="animate-spin icon-size-20 mr-2"></mat-icon>
            </ng-container>

            <ng-template #btnSaveProject>
              <button 
                class="w-8 h-8 min-h-0"
                mat-icon-button 
                matTooltip="Save Project"
                matBadgeSize="small"
                matBadgeColor="accent"
                [matBadge]="totalOfChanges"
                [matBadgeHidden]="totalOfChanges == 0"
                [disabled]="totalOfChanges == 0"
                (click)="handleSaveProject()">
  
                <mat-icon svgIcon="save" class="icon-size-20"></mat-icon>
              </button>
            </ng-template>

            <!-- Exit button -->
            <button
              class="w-8 h-8 min-h-0"
              mat-icon-button
              matTooltip="Exit"
              routerLink="/projects">

              <mat-icon svgIcon="cancel" class="icon-size-20"></mat-icon>
            </button>
          </editor-navigator>
        </div>
        
        <div class="main">
          <editor-content></editor-content>
        </div>
      </div>

      <div class="inspector-hitbox" (click)="matDrawer.toggle()">
        <mat-icon class="icon-size-18 transform rotate-90 mb-2 " svgIcon="tune"></mat-icon>
        <span class="uppercase">Page Inspector</span>
      </div>
    </mat-drawer-content>
    
  </mat-drawer-container>
</div>


<!-- Drawer -->
<ng-template #drawer>
  <div class="actions relative">
    <button 
      class="absolute right-0 mt-1 mr-1"
      mat-icon-button
      matTooltip="Hide Page Inspector"
      (click)="matDrawer.close()">

      <mat-icon svgIcon="close" class="icon-size-14"></mat-icon>
    </button>
  </div>
  
  <div class="flex-1 flex flex-col">
    <div class="flex flex-col flex-shrink-0">
      <mat-button-toggle-group 
        class="inspector-button-toggle flex-0 w-full light:border-cool-gray-300"
        [value]="'format'"
        #inspectorViewToggleGroup="matButtonToggleGroup">

        <mat-button-toggle value="format" class="w-1/3">
          Format
        </mat-button-toggle>
        <mat-button-toggle value="settings" class="w-1/3">
          Settings
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <ng-container [ngSwitch]="inspectorViewToggleGroup.value">
      <ng-template ngSwitchCase="format">
        <div class="mb-8 p-6 editor-navigation">
          <editor-navigation></editor-navigation>
        </div>
        <div class="flex-auto px-6">
          <editor-inspector #editorInspector></editor-inspector>
        </div>
        <div class="editor-history sticky bottom-0 relative z-20 px-6">
          <editor-history></editor-history>
        </div>
      </ng-template>
    
      <ng-template ngSwitchCase="settings">
        <div class="p-6">
          <p>Settings content here.</p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
