@import 'common';

:host {
  .mat-drawer-container {
    .mat-drawer-content {
      flex-direction: row;
      
      .navigator-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
      
        .header {
          padding: 0;
          background: none;
          border: none;

          ::ng-deep editor-navigator {
            width: 100%;
          }
        }

        .main {
          overflow: scroll;
        }
      }

      .inspector-hitbox {
        display: flex;
        align-items: center;
        padding-top: 13px;
        width:  40px;
        height: 100%;
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        border-left-width: 1px;
        border-left-style: solid;
      }
    }
    
    .mat-drawer {
      width:     400px !important;
      min-width: 400px !important;
      max-width: 400px !important;

      @include treo-breakpoint('lt-lg') {
        width:     512px !important;
        min-width: 512px !important;
        max-width: 512px !important;
      }

      @include treo-breakpoint('xs') {
        width:     100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
      }
    }

    ::ng-deep .mat-drawer-inner-container {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      
      .actions {
        position: absolute;
        display: flex;
        align-items: center;
        top:   10px;
        right: 10px;
      }
    }
  }
}



@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  :host {
    .mat-drawer-container {
      .mat-drawer-content {
        .inspector-hitbox {
          @if ($is-dark) {
            border-left-color: map-get($foreground, divider);
            // background-color: rgba(0, 0, 0, 0.30);
          } @else {
            border-left-color: #d1d1d1;
            background-color: #f0f0f0;
          }
        }
      }

      .mat-drawer {
        border-left: none;

        @if ($is-dark) {
          // background-color: rgba(0, 0, 0, 0.30);
        } @else {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
