<header libSticky class="flex items-center mb-2 pt-4 pb-2 light:bg-cool-gray-200 dark:bg-cool-gray-900">
  <div class="header-details">
    <div class="font-bold">{{ directory.name }}</div>
    <div class="text-md truncate text-secondary">{{ directory.path }}</div>
  </div>

  <div class="ml-auto">
    <ng-container *ngIf="isLoading; else checkbox">
      <mat-icon class="icon-size-18 animate-spin mr-3" svgIcon="dripicons:loading"></mat-icon>
    </ng-container>
  
    <ng-template #checkbox>
      <button 
        [matTooltip]="(areAllVisible ? 'Unselect' : 'Select') + ' All'"
        class="btn btn-link"
        (click)="handleSelectAssets()">

        <mat-icon 
          [svgIcon]="areAllVisible ? 'check_circle_outline' : 'add_circle_outline'" 
          [class.bg-primary]="areAllVisible"
          [class.text-white]="areAllVisible"
          [class.rounded-full]="areAllVisible">
        </mat-icon>
      </button>
    </ng-template>
  </div>
</header>

<div 
  class="flex flex-wrap"
  [ngClass]="{
    'is-loading': isLoading,
    'is-photo': isPhoto,
    'is-video': isVideo
  }">

  <ng-container *ngFor="let element of elements">
    
    <div class="relative asset-list-item box-border border-2 light:border-cool-gray-200 dark:border-cool-gray-900">
      <div 
        class="flex items-center justify-center relative cursor-pointer h-full"
        (click)="handleSelectAsset( element.id )">

        <asset-icon 
          class="flex w-full h-full"
          #assetIcon
          [asset]="element"
          [class.flex-col]="isVideo"
          [class.items-center]="isVideo"
          [class.justify-center]="isVideo">

          <ng-container *ngIf="isVideo">
            <div class="text-sm text-center break-all text-secondary">
              {{ element.name }}
            </div>
          </ng-container>
        </asset-icon>

        <ng-container *ngIf="iterationIds.includes( element.id ); else selectIcon">
          <div class="absolute flex items-end justify-end inset-0 overflow-hidden">
            <span class="z-10 flex mb-2 mr-2">
              <mat-icon 
                svgIcon="check_circle_outline"
                class="icon-size-20 text-white rounded-full bg-primary">
              </mat-icon>
            </span>
            <span class="absolute w-full h-full bg-white opacity-25"></span>
            <span class="absolute w-full h-full border-4 border-primary"></span>
          </div>
        </ng-container>

        <ng-template #selectIcon>
          <div class="absolute flex items-end justify-end inset-0 overflow-hidden opacity-25 hover:opacity-75 transition duration-500 ease-in-out">
            <span class="z-10 flex mb-2 mr-2">
              <mat-icon 
                svgIcon="add_circle_outline"
                class="icon-size-20"
                [class.text-white]="isPhoto">
              </mat-icon>
            </span>
          </div>
        </ng-template>
      </div>
    </div>
    
  </ng-container>
</div>
