<mat-form-field [formGroup]="form" class="w-full">
  <mat-select 
    matPrefix
    formControlName="brand"
    placeholder="Select Brand"
    panelClass="brand-selector-panel">

    <mat-select-trigger>
      <ng-template
        *ngIf="active"
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ $implicit: active }">
      </ng-template>
    </mat-select-trigger>

    <mat-option [value]="null">
      Select Brand
    </mat-option>
    
    <ng-container *ngIf="brands$ | async as brands">
      <mat-option *ngFor="let brand of brands" [value]="brand.id">
        <div class="flex items-center">
          <div class="w-14 mr-4">
            <img [src]="brand.logoUrl" [alt]="brand.name" class="h-8 object-contain">
          </div>
          <span>{{ brand.name }}</span>
        </div>
      </mat-option>
    </ng-container>

  </mat-select>
</mat-form-field>
