<ng-container *ngIf="slide$ | async as slide">
  <h1>{{ slide.attributes.title }}</h1>
</ng-container>

<ng-container *ngIf="carousel?.item">
  <div class="player">
    <video-player
      [urlVideo]="'https://vod.vodgc.net/gid7/vod/vodgc/vodgc/28/18-284-8-GCZKTJ1538104527_480P.mp4/tracks-v1a1/index.m3u8'"
      [urlPoster]="'https://store.storeimages.cdn-apple.com/4667/as-images.apple.com/is/image/AppleInc/aos/published/images/w/at/watch/modelheader/watch-modelheader-series4-hero-201809?wid=629&hei=383&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1536009686693'">
    </video-player>
    
    <strong>{{ carousel.item.name }}</strong>
  </div>

  <div class="carousel">
    <nav>
      <button class="control prev" (click)="handlePreviousClick()">
        <span class="arrow left">Previous</span>
      </button>

      <button class="control next" (click)="handleNextClick()">
        <span class="arrow right">Next</span>
      </button>
    </nav>

    <ng-container *ngFor="let slide of carousel.stack">
      <a (click)="handleSetSlide(slide)" href="javascript: void(0);">{{ slide.name }}</a>
      &nbsp;
    </ng-container>
  </div>
</ng-container>
